* {
    margin: 0;
}

.allaFractionsBokaBord {
    display: grid;
    justify-content: center;
    align-content: center;
    width: auto;
    height: auto;
    background-color: black;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.45fr 0.3fr 3fr 0.5fr;
    grid-template-areas: 
    "he he"
    "n1 n1"
    "a1 s3"
    "ft ft"
    ;
}

.allaFractionsMeny {
    display: grid;
    width: 100vw;
    height: auto;
    justify-content: center;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 0.3fr 6fr 1fr;
    grid-template-areas: 
    "he he he"
    "n1 n1 n1"
    "b2 b2 b2"
    "ft ft ft"
    ;

}

.bild2 {
    grid-area: b2;
    text-align: center;
    padding: 50px;
}


.allaFractionsHem {
    display: grid;
    justify-content: center;
    width: 100vw;
    height: 170vh;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.9fr 0.3fr 3fr 2fr 1.5fr;
    grid-template-areas: 
    "he he he"
    "n1 n1 n1"
    "s2 s2 s2"
    "ar ar ar"
    "ft ft ft"
    ;
}

#headerMain {
    grid-area: he;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: white;
    background-color: rgba(109, 109, 170, 0.171);
}

.meny a {
    align-self: center;
    text-align: bottom;
    display:inline-block;
    text-decoration: none;
    color: black;
}


.meny {
    background-color: white;
    border-radius: 1px 1px 15px 15px;
    width: 120px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bild1 {
    grid-area: s2;
    text-align: center;
    padding: 50px;
}

.articleHomePage {
    grid-area: ar;
    color: white;
    text-align: center;
}

.footer {
    padding: 20px;
    grid-area: ft;
    color: white;
    background-color: rgba(109, 109, 170, 0.171);
}


#minaKnappar {
    width: 100vw;
    grid-area: n1;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#hemLank {
    text-align: center;
}

#menyLank {
    text-align: center;
}

#bokaBordLank {
    text-align: center;
}

#nummer {
    text-align: right;
    color: white;
    margin-right: 30px;
    padding: 30px;
}

.articleBokaBord {
    grid-area: a1;
    color: white;
    text-align: center;
    padding: 100px;
    font-size: 20px;
}

#karta {
    padding: 50px;
}

#allaStäderBokaBord {
    padding: 100px;
    display: grid;
    grid-area: s3;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
    grid-template-areas:
    "GBG"
    "STHLM"
    "ASAS"
    "GTLND"
    ;

}

.bokabordGBG {
    position: relative;
    text-align: center;
    grid-area: GBG;

}

.GBGtext {
    bottom: 50%;
    position: relative;
    color: black;
    grid-area: gT;
}

.bokabordSTHLM {
    position: relative;
    text-align: center;
    grid-area: STHLM;
}

.STHLMtext {
    bottom: 50%;
    position: relative;
    color: black;
    grid-area: sT;

}

.bokabordASAS {
    position: relative;
    text-align: center;
    grid-area: ASAS;
}

.ASAStext {
    bottom: 50%;
    position: relative;
    color: black;
    grid-area: aT;

}

.bokabordGTLND {
    position: relative;
    text-align: center;
    grid-area: GTLND;
}

.GTLNDtext {
    bottom: 50%;
    position: relative;
    color: black;
    grid-area: gtT;
}