* {
    margin: 0;
}

.allaFractions {
    display: grid;
    width: 100vw;
    height: 130vh;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "he he he"
    "se se se"
    "s2 s2 s2"
    "s2 s2 s2"
    "s2 s2 s2"
    "ar ar ar"
    "ar ar ar"
    "ft ft ft"
    "ft ft ft"
    ;
}
.headerMain {
    grid-area: he;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: white;
    background-color: rgba(109, 109, 170, 0.582));
}

.divs {
    display: grid;
    text-align: center;
    font-size: 20px;
    grid-area: se;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "dv dv dv"
    ;
    opacity: 0.5;

}

.länkDivs {
    background-color: antiquewhite;
}

.bild {
    grid-area: s2;
    text-align: center;
    padding-bottom: 500px;
}

.articleHomePage {
    grid-area: ar;
    text-align: center;
    padding: 110px;
    color: white;
}

.footer {
    grid-area: ft;
    text-align: bottom;
    color: white;
}